header {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-height: 160px;
  background-color: transparent;
  padding: 10px 40px 0;
  z-index: 1;
}
.submenu {
  width: 60%;
  display: flex;
  color: #ffffff;
  flex-direction: row-reverse;
}
.submenu li {
  padding: 10px;
  margin-right: 20px;
}
.genre {
  position: relative;
}
.submenu li i {
  margin-left: 8px;
  padding-bottom: 8px;
}
.submenu li i:hover {
  cursor: pointer;
}
.submenu li:hover {
  transition: color 0.25s;
  color: #1b4347;
  cursor: pointer;
}
.headlist {
  width: 100%;
  position: absolute;
  top: 48px;
  right: 10px;
  display: none;
  background-color: black;
  z-index: 0;
}
.headlist li {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  color: white;
  font-size: 14px;
}
.submenu li:hover .headlist {
  display: block;
}
#logo {
  max-width: 70px;
  height: auto;
}

/* header */

.top {
  width: 100%;
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* top */
h1 {
  position: absolute;
  color: white;
  top: 100px;
}

/* side bar */
.sidebar_bg {
  filter: blur(1px);
  position: fixed;
  width: 12%;
  height: 180px;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  bottom: 55vh;
  right: 20px;
}
.sidebar {
  width: 12%;
  height: 180px;
  padding: 10px 0;
  position: fixed;
  border-radius: 8px;
  bottom: 55vh;
  right: 20px;
  background: transparent;
  z-index: 1;
}
.sidebar li {
  line-height: 2;
  transition: background-color 0.25s;
}
.sidebar li:hover {
  background-color: rgba(99, 99, 99, 0.2);
}
/* content */
.content {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 30px;
  background: rgb(255, 249, 220);
}
.subnews {
  display: inline-block;
}
.articles {
  display: flex;
  width: 80%;
  flex-direction: column;
  padding: 20px 60px 20px 20px;
  margin: auto;
}
.articles_top {
  color: red;
  font-size: 30px;
  font-style: italic;
}
.dash {
  width: 100%;
  color: darkred;
  height: 1px;
  opacity: 80%;
}
.articles_detail {
  display: flex;
  flex-wrap: nowrap;
  text-align: justify;
  border-radius: 6px;
  box-shadow: 2px 3px 1px 0px rgba(50, 50, 50, 0.384);
  color: #555555;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s;
  position: relative;
}
.articles_detail img {
  width: 30%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 6px 0 0 6px;
}
.articles_detail:hover {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 2px 3px 1px 0px rgba(50, 50, 50, 0.8);
}
.headline {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 15px;
  justify-content: space-between;
}
.headline p {
  margin-top: 15px;
}
.author {
  color: rgba(85, 85, 85, 0.7);
}
.articles_detail:hover .more {
  display: block;
}
.more {
  position: absolute;
  bottom: 15px;
  right: 45px;
  animation: more 1s infinite;
  display: none;
}
.more i {
  position: absolute;
  font-size: 20px;
  margin-left: 5px;
}
@keyframes more {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.page_jump {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  padding: 40px;
  margin: auto;
}
.page_jump ul {
  display: flex;
  align-items: center;
}
.page_jump i {
  font-size: 24px;
}
.page_jump i:hover {
  cursor: pointer;
  color: rgb(87, 87, 87);
}
.button {
  padding: 10px;
  margin: 0 10px;
  border-radius: 6px;
  background-color: rgb(87, 62, 62);
  color: white;
  height: 30px;
  width: 30px;
}
.button:hover {
  background-color: rgb(88, 52, 52);
  cursor: pointer;
}
.button:active {
  background-color: rgb(87, 37, 37);
  outline: 1px solid rgb(255, 232, 232);
}

/* footer */

#footer {
  background-color: rgba(0, 0, 0, 0.7);
  height: 40vh;
  color: white;
  text-shadow: 0 0 3px black;
  display: flex;
  padding: 25px 60px;
  position: relative;
}
#copyright {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 14px;
  opacity: 0.8;
}
.contact {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about_us img {
  height: 150px;
  width: 150px;
  border-radius: 75px;
}
.about_us {
  display: flex;
}
.info {
  margin-left: 10px;
  line-height: 1.5;
}
.info li {
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  white-space: nowrap;
}
.info p {
  color: rgb(204, 204, 204);
  margin-left: 10px;
  margin-bottom: -1px;
  font-size: 14px;
}
.social {
  display: flex;
  font-size: 40px;
  margin-top: 10px;
  margin-left: -25px;
}
.social li {
  margin-left: 25px;
}
.social a:hover {
  transition: opacity 0.25s;
  opacity: 0.8;
}
.work {
  display: grid;
  grid-template: 20px 1fr 1fr/ 1fr 1fr;
  height: 90%;
  grid-gap: 2px;
  object-fit: cover;
}
.work img {
  width: 100%;
}
.work h4 {
  grid-column-end: span 2;
  color: rgb(204, 204, 204);
}
.work a {
  overflow-y: hidden;
  transition: all 0.5s;
  position: relative;
  transition: transform 0.5s;
}
.work a:hover {
  transform: scale(1.1);
  z-index: 1;
}
.work_name {
  position: absolute;
  bottom: -20px;
  left: 10px;
  color: white;
  text-shadow: 0 0 5px black;
}
.work a:hover .work_name {
  transition: transform 0.75s;
  transform: translateY(-30px);
}
.footer_logo {
  height: 80px;
  grid-area: why;
}
.footer_logo img {
  height: 80px;
}
.function {
  grid-area: text;
  padding-left: 20px;
  line-height: 1.5;
}
.contact2 {
  padding: 20px 10px 0 20px;
  width: 40%;
  display: grid;
  text-align: justify;
  grid-template-areas:
    "why text text"
    "why text text";
}
