header {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-height: 160px;
  background-color: transparent;
  padding: 10px 40px 0;
  z-index: 1;
}
.submenu {
  width: 60%;
  display: flex;
  color: #ffffff;
  flex-direction: row-reverse;
}
.submenu li {
  padding: 10px;
  margin-right: 20px;
}
.genre {
  position: relative;
}
.submenu li i {
  margin-left: 8px;
  padding-bottom: 8px;
}
.submenu li i:hover {
  cursor: pointer;
}
.submenu li:hover {
  transition: color 0.25s;
  color: #1b4347;
}
.headlist {
  width: 100%;
  position: absolute;
  top: 48px;
  right: 10px;
  display: none;
  background-color: black;
  z-index: 0;
}
.headlist li {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  color: white;
  font-size: 14px;
}
.submenu li:hover .headlist {
  display: block;
}
#logo {
  max-width: 70px;
  height: auto;
}

/* header */

.top {
  width: 100%;
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* top */
h1 {
  position: absolute;
  color: white;
  top: 100px;
}
.search {
  width: 80%;
  display: flex;
  justify-content: center;
}
.search_bar {
  background-color: rgb(224, 224, 224);
  border-radius: 4px;
  width: 60%;
  height: 50px;
}
.input {
  border: none;
  width: 100%;
  height: 100%;
  padding: 10px 30px;
  background-color: transparent;
  transition: background-color 0.5s;
  box-shadow: 0px 1px 2px 1px #55555591;
  border-radius: 4px;
}
.input:focus {
  outline: none;
  background-color: white;
}
.s_click {
  height: 50px;
  width: 10%;
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: 10px;
  background-color: rgb(0, 206, 103);
  border: none;
  color: white;
  font-size: 18px;
  transition: background-color 0.5s;
  box-shadow: 0px 1px 2px 1px #5353537c;
}
/* side bar */
.sidebar_bg {
  filter: blur(1px);
  position: fixed;
  width: 12%;
  height: 180px;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  bottom: 40vh;
  right: 20px;
}
.sidebar {
  width: 12%;
  height: 180px;
  padding: 10px 0;
  position: fixed;
  border-radius: 8px;
  bottom: 40vh;
  right: 20px;
  background: transparent;
  z-index: 1;
}
.sidebar li {
  line-height: 2;
  transition: background-color 0.25s;
}
.sidebar li:hover {
  background-color: rgba(99, 99, 99, 0.2);
}
/* content */
.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: rgb(255, 249, 220);
}
.subnews {
  display: inline-block;
}
.subnews:hover h2 {
  transition: color 0.5s;
  color: rgb(255, 70, 70);
}
.articles {
  display: flex;
  width: 80%;
  flex-direction: column;
  padding: 20px 60px 20px 20px;
  margin: auto;
}
.articles_top {
  color: red;
  font-size: 30px;
  font-style: italic;
}
.dash {
  width: 100%;
  color: darkred;
  height: 1px;
  opacity: 80%;
}
.articles_detail {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr 1fr;
  height: 960px;
  box-shadow: 2px 3px 1px 0px rgba(50, 50, 50, 0.2);
  color: #555555;
  background-color: #fffef7;
  transition: all 0.5s;
  position: relative;
  grid-gap: 2px;
}
.articles_detail a {
  position: relative;
  transition: all 1s;
  background-color: #fffef7;
}

.articles_detail img {
  transition: opacity 1s;
}

.headline_left {
  grid-row-end: span 3;
  overflow-y: hidden;
  text-overflow: ellipsis;
}
.headline_left h4 {
  max-height: 60px;
  overflow-y: hidden;
  text-overflow: ellipsis;
}
.headline_left img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
.headline_right {
  grid-row-end: span 2;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.headline_right img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.headline_left p {
  margin-top: 10px;
  z-index: 1;
}
.headline_left .description {
  padding: 15px 15px;
}
.headline_right .description {
  font-size: 14px;
  padding: 8px 15px;
}
.author {
  color: rgba(85, 85, 85, 0.7);
}
.articles_detail a:hover {
  background-color: rgb(216, 216, 216, 0.6);
}
.articles_detail a:hover .more {
  visibility: visible;
}
.articles_detail a:hover .more_r {
  visibility: visible;
}
.articles_detail a:hover img {
  opacity: 0.7;
}

/* more hover */
.more {
  position: absolute;
  width: 100%;
  color: #5a5a5a;
  visibility: hidden;
  top: 237px;
  padding: 5px 20px;
  background-image: linear-gradient(
    to top,
    rgb(196, 196, 196),
    rgba(255, 255, 255, 0)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 3px rgb(255, 255, 255);
}
.more i {
  font-size: 20px;
  margin-top: 5px;
  padding-bottom: 15px;
  animation: more 1s infinite;
}
.more p {
  font-size: 20px;
  animation: more 1s infinite;
}
@keyframes more {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(5px);
  }
  100% {
    transform: translatey(0);
  }
}

.more_r {
  position: absolute;
  width: 100%;
  color: #5a5a5a;
  visibility: hidden;
  top: 152px;
  padding: 5px 20px;
  background-image: linear-gradient(
    to top,
    rgb(163, 163, 163),
    rgba(255, 255, 255, 0)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 3px rgb(255, 255, 255);
}
.more_r i {
  font-size: 20px;
  margin-top: 5px;
  padding-bottom: 10px;
  animation: more 1s infinite;
}
.more_r p {
  font-size: 20px;
  animation: more 1s infinite;
}

/* footer */

#footer {
  background-color: transparent;
  height: 35vh;
  color: white;
  text-shadow: 0 0 3px black;
  display: flex;
}
